.Login {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-logo {
  height: 20vmin;
  pointer-events: none;
}

.login-icon {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Login-link {
  color: #61dafb;
}

